doctype html
html
    head
        title Netlight error
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon', href='/images/favicon.png')
    body
        block content