extends layout

block content
  img(class='logo' src='/images/netlight.png')

  #calendar1

  #calendar2



  //iframe(src='https://app.powerbi.com/view?r=eyJrIjoiZGQ4NDM0MGMtZThiNS00OWJiLTkwMmQtYTUxZTlmYmMyOGU4IiwidCI6ImQ0MTEwMjg4LWJmMWUtNDMzNy05N2FiLWE1YzUxMzcxZGNlYSIsImMiOjh9', width='800', height='500')
