extends layout

block content
  h1= title
  p Welcome to #{title}

  #calendar

  img(src='/images/netlight.png')

  //iframe(src='https://app.powerbi.com/view?r=eyJrIjoiZGQ4NDM0MGMtZThiNS00OWJiLTkwMmQtYTUxZTlmYmMyOGU4IiwidCI6ImQ0MTEwMjg4LWJmMWUtNDMzNy05N2FiLWE1YzUxMzcxZGNlYSIsImMiOjh9', width='800', height='500')
