extends layout

block content
  img(class='logo' src='/images/netlight_smaller.png')

  #maincontainer
    #container1
      h3 Pop Corner
      #calendar1

    #container2
      h3 Internet Cafe
      #calendar2
