extends layout

block content
  img(class='logo' src='/images/netlight_smaller.png')

  #status
    #floatingCirclesG
        #frotateG_01.f_circleG
        #frotateG_02.f_circleG
        #frotateG_03.f_circleG
        #frotateG_04.f_circleG
        #frotateG_05.f_circleG
        #frotateG_06.f_circleG
        #frotateG_07.f_circleG
        #frotateG_08.f_circleG
    p Refreshing events ...

  #maincontainer
    //h3 Rooms
    #calendar
