doctype html
html
  head
    //title= title
    title Netlight calendar
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.png')
    //meta(http-equiv='refresh', content='30')
    link(rel='stylesheet' href='/lib/fullcalendar/dist/fullcalendar.css')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/moment/min/moment.min.js')
    script(src='/lib/fullcalendar/dist/fullcalendar.js')
    script(src='/javascripts/main.js')
  body
    block content
