body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
  color: #281B48;
  margin: 0px;
}

img.logo {
  margin: 20px;
  width: 400px;
}

div.fc-content table {
  height: 75px !important;
}

th.fc-widget-header {
  color: #ffffff;
  background-color: #281B48;
  font-size: 1.1em;
}

div.fc-toolbar {
  display: none;
}

div.fc-content {
  height: 50px;
  vertical-align: middle;
}

hr.timeline {
  position: absolute;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 3px solid #eeae32;
  width: 1px;
  margin: 0;
  padding: 0;
  z-index: 1000;
  height: auto;
}