body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
  color: #281B48;
  margin: 0px;
}

img.logo {
  margin: 20px;
  width: 400px;
}

div.fc-content table {
  height: 75px !important;
}

th.fc-widget-header {
  color: #ffffff;
  background-color: #281B48;
  font-size: 1.1em;
}

div.fc-toolbar {
  display: none;
}

div.fc-content {
  height: 50px;
}

div.fc-cell-content {
  height: 50px;
  line-height: 50px;
}

div.fc-now-indicator.fc-now-indicator-line {
  border-color: #eeae32 !important;
  border-width: 2px;
}

div.fc-now-indicator.fc-now-indicator-arrow {
  border-color: #eeae32;
}