body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.logo {
  width: 300px;
}

div#calendar1 {
  width: 500px;
}

div#calendar2 {
  width: 500px;
}