{
  "pop_corner": {
    "title": "ABC calendar",
    "url": "http://outlook.office365.com/owa/calendar/abc/calendar.ics",,
    "resourceId": "abc_calendar"
  },
  "internet_cafe": {
    "title": "XYZ calendar",
    "url": "http://outlook.office365.com/owa/calendar/xyz/calendar.ics",
    "resourceId": "xyz_calendar"
  }
}